html,
body{
	margin:0;
	height: 100%;
}

body {
	background-color: hsl(var(--Dark-Blue-intro-and-email-sign-up));
	color: hsl(var(--White));
	font-size: var(--Font-size-14);
}

.footer_icon {
	width: 10px;
}

/* header navigation */

.header_flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header_container {	padding: 20px;}
#fylo-logo { width: 80px;}

.navigation {
	list-style: none;
	margin: 0;
	padding-block: 5px;
}

.navigation > li {
	padding-inline: 12px;
}

.navigation > li > a {
	color: hsl(var(--White) / .8);
	text-decoration: none;
	font-weight: 300;
}

.navigation > li > a:hover,
.navigation > li > a:active {
	color: hsl(var(--White));
	text-decoration: underline;
	font-weight: 700;

}
/* main section */
.picture { margin-block: 30px; }
.picture > img {
	    width: 300px;
    margin: auto;
    display: block;
	z-index: 99;	
	text-align: center;
}


@media screen and (max-width: 1100px) {
	#main {
		background-image: url('../images/bg-curvy-mobile.svg');
		padding-bottom: 4rem;
    background-repeat: no-repeat;
    background-position: bottom;
	background-size: cover;
	}
}

.action_link {
	display: block;
	background-image: linear-gradient(90deg, hsl(var(--Cyan-inside-call-to-action-gradient)), hsl(var(--Blue-inside-call-to-action-gradient)));
	text-align: center;
	text-decoration: none;
	width: 150px;
	margin: 30px auto;
	padding: 15px 40px;
	border-radius: 30px;
	transition: .5s ease all;
}

 .action_link:hover,
 .action_link:active {
	background-image: linear-gradient(45deg, hsl(var(--Cyan-inside-call-to-action-gradient)), hsl(var(--Blue-inside-call-to-action-gradient)));
}

.container { padding: 30px 50px;}

.main_width {
	max-width: 270px;
	margin-inline: auto;
}

/* attributes */

 .attribute  {
	padding: 50px 60px;
	max-width: 250px;
	margin-inline: auto;
}

 .attribute img {
width: 50px;
margin-inline: auto;
    display: block;
 }

.flyo_works_link {
	border-bottom: 1px solid hsl(var(--Blue-inside-call-to-action-gradient));
	padding-bottom: 5px;
	text-decoration: none;
}

.flyo_works_link #arrow-div{
    width: 20px;
	display: inline-block;
}

#productive-text {
	max-width: 380px;
	margin-inline: auto;
}
/* testimonies */

.testimony {
	background-color: hsl(var(--Dark-Blue-testimonials-background));
	border-radius: 7px;
	padding: 15px 22px;
	box-shadow: 0px 0px 8px hsl(var(--Dark-Blue-testimonials-background));
	max-width: 225px;
	margin: auto;
	margin-bottom: 25px;
	position: relative;
		z-index: 1;
}

.testimony p { color: hsl(var(--White) / 0.6) 
}

@media (max-width: 720px) {
	.header_font_size_14 { font-size: var(--Font-size-14);}
}

.photo {
	width: 25px;
	height: 25px;
}

.photo img {
    border-radius: 15px;
	    width: 30px;
}

.person-id {
	padding-left: 15px;
}

.name {
	font-family: 'Raleway';
    font-size: 8px;
	font-weight: 700;
	padding-bottom: 3px;
}

.testimony_width {
	max-width: 890px;
    margin-inline: auto;
}   

.testimony_image{
	position: absolute;
    top: -30px;
    left: 0px;
    width: 40px;
}
/* email signup */

.signup_form {
	margin: auto;
    width: 270px;
	background-color: hsl(var(--Dark-Blue-intro-and-email-sign-up));
	display: flex;
	flex-direction: column;
	align-items: center;
	    padding: 30px 30px 20px 30px;
		border-radius: 12px;
		box-shadow:  4px 3px 8px hsl(var(--Dark-Blue-footer-background));
		    position: relative;
    top: 130px;
	text-align:center;
}

#sign-up {
	padding-inline: 12px;
}
.signup_title{
	padding-bottom: 3px;
}

form {
	display: flex;
	flex-direction: column;
}
form input[type=text] {
	display: block;
	margin-bottom: 20px;
	padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
}

form input[type=text] {
	padding-left: 25px;
    width: 168px;
    font-size: 10px;
    margin-inline: auto;
}

form input[type=submit] {
	margin-block: 20px;
}

strong {
    color: hsl(0, 86%, 49%);
    font-size: 12px;
    padding-left: 21px;
	text-align: left;
	display: none;
}

strong.active { display: block; }

#email-signup-container {
    margin: auto;
    width: 270px;
    background-color: var(--Dark-Blue-intro-and-email-sign-up);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 20px 30px;
    border-radius: 12px;
    box-shadow: 4px 0px 5px var(--Dark-Blue-footer-background);
    position: relative;
    top: 170px;
}

footer {
	background-color: hsl(var(--Dark-Blue-footer-background));
	    padding-block: 140px;
}

.footer-container {
	padding: 30px 50px;
    margin: auto;
	width: 320px;
}

.footer-container > * {
padding-block: 10px;
}

.fylo-logo-footer {
    width: 155px;
    padding-left: 10px;
	padding-top: 70px;
}

.location {
    align-self: flex-start;
}

.contact-column #phone {
    width: 12px;
    align-self: flex-start;
}

.contact-column #email {
	width: 17px;
    align-self: flex-start;
}

.footer_flex {
	    display: flex;
    flex-direction: column;
}


.footer_contact {
	margin-bottom: 15px;
}
.footer_paragraph {
	margin-block: 0;
	display: inline-block;
    margin-left: 15px;
	    padding-right: 45px;
}

.footer-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    padding-inline: 30px;
}

.footer-links a {
	color: var(--White);
	font-size: 14px;
	font-family: 'Open Sans';
    text-decoration: none;
	padding-bottom: 15px;
}

.contact-column {
	padding-inline: 20px;
	
}
.facebook_icon {	
	padding: 5px 10px;
	font-size: 12px;
}

.twitter_icon {	
	padding: 5px 7px;
	font-size: 12px;
}

.instagram_icon {	
	padding: 5px 7px;
	font-size: 12px;
}

#social-media {
    padding-block: 20px;
    text-align: center;
}

#social-media a {
    border: 1px solid white;
	width: 30px;
	height: 30px;
    border-radius: 50%;
    text-align: center;
	cursor: pointer;
    margin-inline: 3px;
}

#social-media a:hover,
#social-media a:focus,
#social-media a:active {
	color: hsl(var(--Cyan-inside-call-to-action-gradient));
	border: 1px solid hsl(var(--Cyan-inside-call-to-action-gradient));
}
