/* desktop screen */

@media screen and (min-width: 1100px) {
	.header_container { padding: 50px;}
	.picture > img { width: 450px;}
	#mobile_image {	display: none;}
	#desktop_image {display: block;	}

	#main {
		        background-image: url(../images/bg-curvy-desktop.svg);
        padding-bottom: 4rem;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
	}
	
.main_width {
	max-width: 370px;
	margin-inline: auto;
}
	.flex-row { display: flex; }
	.testimony_container { padding: 30px 200px; 
	}
	.testimony_image {
		    width: 40px;
    top: -28px;
    left: 0px;
    position: absolute;
	}
	
	.productive_container { padding: 30px 160px; }

	form { flex-direction: row;}

form input[type=text],
form input[type=submit] {
    margin-bottom: unset;
}
.signup_form { width: 600px; }

form input[type=text] {
    width: 300px;
    height: 15px;
}

.footer_flex {	
	display: flex;
    flex-direction: row;
	justify-content: space-between;
}

.footer-container { width: unset;}

#social-media { padding-block: unset;}

#social_media_column {
	text-align: center;
	padding-inline: 25px; 
	padding-top: 5px;
}
}

